.def-button{
  //display: flex;
  //justify-content: center;
  //align-items: center;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  //width: 185px;
  padding: 14px 32px;
  //height: 55px;
  //border: 1px solid #544B46;
  background: linear-gradient(180deg, #544B46 0%, #554C47 0.52%, #544B46 0.53%, #786358 99.97%, #544B46 99.98%, #7C6254 99.99%);
  border-radius: 60px;
  color: #fff;
  font-family: 'pf dindsplay pro medium';
  cursor: pointer;

  &:hover{
    box-shadow: 0px 4px 20px #544B46;
  }

  &.light-color{
    background: #FACBAD;
    border: 1px solid #FACBAD;
    color: $def-color;
  }
}

.main{
  padding-top: 70px;
}

section{
  margin-bottom: 50px;
}

.def-title{
  font-family: $def-mag;
  font-size: 26px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 30px;
  &::after{
    display: block;
    content: '';
    width: 120px;
    height: 4px;
    background: #FACBAD;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    left: 10px;
  }
}

.only-320{
  display: block;
}

.next-button-slide{
  width: 32px;
  height: 32px;
  background-image: url('/files/imgs/icons/arrow.png');
  background-size: cover;
  font-size: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) scale(-1, 1);
  z-index: 1;
  cursor: pointer;
}

.prev-button-slide{
  width: 32px;
  height: 32px;
  background-image: url('/files/imgs/icons/arrow.png');
  background-size: cover;
  font-size: 0;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

// def-item category
main.main{

  .def-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;

    &-wrap{
      text-align: center;
      height: 100%;
    }

    &__img{
      display: block;
      box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 35px 60px;
      margin-bottom: 20px;
    }

    &__subtitle{
      color: #BDBDBD;
      font-family: $medium-font;
      margin-bottom: 10px;
      padding-left: 15px;
      text-align: left;
    }

    &__title{
      color: #000;
      font-size: 18px;
      font-family: $medium-font;
      margin-bottom: 20px;
      padding-left: 15px;
      text-align: left;
    }

    &__link{

      &:hover{
        box-shadow: none;
      }
    }
  }
}

.breadcrumbs{
  margin-bottom: 34px;
  padding-top: 24px;

  &__inner{

    a, span{
      font-family: $medium-font;
      display: inline-block;
      margin-right: 5px;
      color: #BDBDBD;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.custom-slider-setup{
  display: flex;
  align-items: center;

  .custom-prev{
    display: block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url('./files/imgs/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .custom-next{
    margin-left: 5px;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url('./files/imgs/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(-1, 1);
  }

  .custom-current{
    font-size: 26px;
    font-family: $def-mag;
    padding-right: 2px;
  }

  span, .custom-all{
    font-family: $def-mag;
    padding: 0 1px;
  }
}

@media screen
and (min-width: 768px){

  .main{
    padding-top: 87px;
  }

  section{
    margin-bottom: 65px;
  }

  .def-title{
    margin-bottom: 40px;

    &::after{
    left: 20px;
    }
  }

  .only-320{
    display: none;
  }

  // def-item category
  main.main{

    .def-item{
      padding-left: 20px;
      padding-right: 20px;
      height: auto;
    }
  }

  .breadcrumbs{
    margin-bottom: 40px;
    padding-top: 24px;
  }
}

@media screen
and (min-width: 1200px){

  .main{
    padding-top: 163px;
  }

  section{
    margin-bottom: 80px;
  }

  .def-title{
    margin-bottom: 50px;
  }

}