.first-screen{
  position: relative;
  padding-top: 40px;
  padding-bottom: 160px;
  background: linear-gradient(180deg, #FFFFFF 47.07%, rgba(255, 255, 255, 0) 85.35%);

  &::before{
    display: block;
    content: '';
    position: absolute;
    background-image: url('./files/imgs/first-screen.jpg');
    left: 0;
    right: 0;
    top: 40%;
    height: 60%;
    z-index: -1;
  }

  &__content{
    margin-bottom: 24px;

    h1{
      margin-bottom: 24px;
      font-family: $medium-mag;
      font-size: 40px;
      text-align: center;
      font-weight: 500;
      line-height: 48px;

      span{
        font-family: inherit;
        font-size: inherit;
        position: relative;
        display: block;
        z-index: 1;
        font-weight: inherit;
        line-height: inherit;
        &::before{
          display: block;
          content: '';
          width: 362px;
          height: 77px;
          background-image: url('./files/imgs/icons/title-back.svg');
          background-size: cover;
          background-repeat: no-repeat;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          max-width: none;
          max-height: none;
          z-index: -1;
        }
      }
    }

    p{
      text-align: center;
      margin: 0 auto;
      width: 300px;
      max-width: 100%;
    }
  }

  &__box{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    margin: 0 auto;
    padding: 34px 20px;
    width: calc(100% - 40px);
    max-width: 316px;

    &-title{
      margin-bottom: 12px;
      font-size: 22px;
      font-family: $def-mag;
    }

    &-text{
      margin-bottom: 24px;
    }


  }
}

.choose-format{

  &__slider{
    position: relative;

    .slide__wrap{
      display: flex;
      justify-content: center;

      &-item{
        position: relative;

        &__title{
          position: absolute;
          left: 20px;
          bottom: 70px;
          color: #fff;
          font-size: 18px;
          font-family: $medium-font;
        }

        &__price{
          position: absolute;
          left: 20px;
          bottom: 20px;
          color: #fff;

          span{
            font-size: 32px;
            font-family: $medium-mag;
            color: #fff;
            padding: 0 10px;
            position: relative;
            top: 5px;
          }
        }
      }
    }

  }
}

.drop-request{
  padding: 34px 0;
  background: #544B46;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.25);

  &__title{
    margin-bottom: 34px;

    p{
      color: #fff;
      font-family: $def-mag;
      font-weight: 400;
      font-size: 26px;
      text-align: center;
      padding: 0 2px;
    }
  }

  &__button{
    text-align: center;
  }
}

.best{

  &-left{

    &__title{
      
      &::before{
        display: block;
        content: 'посмотрите наши';
        color: #BDBDBD;
        font-size: 18px;
        margin-bottom: 10px;
      }

      &::after{
        left: 0;
      }
    }

    &__item{
      display: block;
      width: 290px;
      max-width: 100%;
      padding: 0 15px;
      margin: 0 auto 50px;

      &-img{
        background: #F0ECEC;
        border-radius: 8px;
        padding: 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 14px;
        width: 260px;
        height: 224px;
      }

      &-title{
        display: block;
        text-align: center;
        font-size: 18px;
        font-family: $medium-font;
      }
    }
  }

  &-right{

    &__item{
      display: block;
      width: 290px;
      max-width: 100%;
      padding: 0 15px;
      margin: 0 auto 50px;
      &:last-child{
        margin-bottom: 0;
      }

      &-img{
        background: #F0ECEC;
        border-radius: 8px;
        padding: 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 14px;
        width: 260px;
        height: 224px;
      }

      &-title{
        display: block;
        text-align: center;
        font-size: 18px;
        font-family: $medium-font;
      }
    }
  }
}

.content-form{
  background: #FACBAD;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.25);
  padding: 34px 10px;

  &__pretitle{
    font-size: 18px;
    font-family: $medium-font;
    margin-bottom: 16px;
    text-align: center;
  }

  &__title{
    font-size: 26px;
    font-family: $def-mag;
    margin-bottom: 34px;
    text-align: center;
  }

  &__form{

    input:not([type="submit"]){
      display: block;
      margin: 0 auto 16px;
      border: 1px solid #E3D3C4;
      box-sizing: border-box;
      border-radius: 60px;
      width: 276px;
      height: 46px;
      &:nth-last-child(2){
        margin-bottom: 34px;
      }
      padding: 0 24px;
    }

    input[type="submit"]{
      display: block;
      margin: 0 auto;
      box-shadow: 0px 4px 24px #544B46;
      border: none;
    }
  }
}

.arrival{

  .prev-button-slide{
    top: 150px;
    left: 25px;
  }
  .next-button-slide{
    top: 150px;
    right: 25px;
  }

  .def-item{

    .def-item__link:hover{
      box-shadow: 0px 4px 20px #544B46;
    }
  }
}

.why{

  .def-title{

    &::before{
      display: block;
      content: 'нас рекомендуют';
      font-size: 18px;
      color: #BDBDBD;
      margin-bottom: 10px;
    }
  }

  &__item{
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 0;
    }

    &-img{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      height: 64px;
    }

    &-text{
      padding: 0 10px;
      text-align: center;
    }
  }
}

.discount{
//  AAAAAAAAAAAAAAAAAAAAAAAAAAA
}

.about-us{

  &__video{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe{
      display: block;
      height: 200px;
      width: 350px;
      max-width: 100%;
    }
  }

  &__text{

    .def-title{

      &::before{
        display: block;
        content: 'посмотрите видео';
        font-size: 18px;
        color: #BDBDBD;
        margin-bottom: 10px;
      }

      &::after{
        left: 0;
      }
    }
  }
}

.main-news{

  .row{
    position: relative;
  }

  &__all{
    position: absolute;
    top: 10px;
    right: 25px;
    color: #544B46;
    padding-right: 20px;

    &::after{
      display: block;
      content: '〉';
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__item{
    margin-bottom: 50px;
    &:last-child{
      margin-bottom: 0;
    }

    img{
      border-radius: 8px;
      display: block;
      margin: 0 auto 15px;
    }

    span{
      display: block;
      text-align: center;
      font-size: 18px;
      font-family: $medium-font;
    }
  }
}

// CATALOG

.catalog__menu{
  margin-bottom: 34px;

  &.opened{

    .catalog__menu-subtitle{
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .catalog__menu-nav{
      display: block;
    }
  }

  .def-title{
    margin-bottom: 30px;

    &::after{
      left: 0;
    }
  }

  &-subtitle{
    padding: 24px 20px 30px;
    background-color: #FFF8F3;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;

    &__inner{
      font-size: 22px;
      font-family: $def-mag;
      margin-right: 15px;
    }

    &__arrow{
      display: block;
      width: 15px;
      height: 15px;
      background-image: url("./files/imgs/icons/catalog-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

  }

  &-nav{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #FFF8F3;
    padding: 0 20px 40px;
    display: none;

    > ul > li > a{
      font-size: 18px;
      font-family: $medium-font;
    }

    ul{
      display: flex;
      flex-direction: column;

      li{
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }

        &.parent{
          position: relative;
          display: flex;
          flex-wrap: wrap;
          
          &.item-selected{

            > a {
              text-decoration: underline;
            }
          }

          > ul{
            padding-top: 15px;
            padding-left: 20px;
          }

          &.active{

            > .parent-arrow{
              transform: rotate(180deg);
            }

            > ul {
              display: block;
            }
          }

          > .parent-arrow{
            display: block;
            width: 25px;
            height: 25px;
            background-image: url("./files/imgs/icons/catalog-arrow.svg");
            background-repeat: no-repeat;
            background-position: center;
            order: 2;
            align-self: center;
            cursor: pointer;
          }

          > a{
            order: 1;
            margin-right: 10px;
          }

          > ul {
            display: none;
            width: 100%;
            order: 3;

            &.active{
              display: block;
            }
          }
        }
      }
    }
  }

}

.catalog__content{

  .category{
    margin-bottom: 15px;

    &__top{
      margin-bottom: 18px;

      .def-title{
        font-family: $def-mag;
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 24px;
      }

      &-link{

        a{
          padding-right: 20px;
          position: relative;
          &::after{
            display: block;
            content: '〉';
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    &__slider{

      .slick-list{
        padding-top: 15px;
      }
      .prev-button-slide{
        top: 150px;
        left: 25px;
      }
      .next-button-slide{
        top: 150px;
        right: 25px;
      }

      .def-item{

        &.out-of-stock{

          .def-item__title{
            margin-bottom: 10px;
          }
          .def-item__subtitle{
            display: block;
          }
        }

        &-wrap{
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &__img{
          padding: 20px 25px;
        }

        &__title{
          width: 100%;
        }

        &__subtitle{
          width: 100%;
          display: none;
        }

        &__link{
          display: none;
        }
      }
    }
  }

  .ready-solutions.category{

    .def-item{

      &__img{
        padding: 0;
      }

      &__link{
        width: 190px;
      }
    }

  }

}

//CATEGORY
.category-nav{
  margin-bottom: 34px;

  &__list{
    display: flex;
    flex-wrap: wrap;

    li{
      padding: 0 15px;
      width: 100%;
      margin-bottom: 16px;
      &:last-child{
        margin-bottom: 0;
      }

      &.current{

        a{
          background-color: #FACBAD;
        }
      }

      a{
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        padding: 12px 24px;
        background: linear-gradient(180deg, #544B46 0%, #554C47 0.52%, #544B46 0.53%, #786358 99.97%, #544B46 99.98%, #7C6254 99.99%);
        border-radius: 60px;
        font-family: 'pf dindsplay pro medium';
        cursor: pointer;
        background: #fff;
        border: 1px solid #FACBAD;
        color: $def-color;

        &:hover{
          background-color: #FACBAD;
        }
      }
    }
  }
}

.category-list{

  &__item{
    position: relative;
    padding: 0 22px;
    margin-bottom: 40px;
    &:last-child{
      margin-bottom: 0;
    }

    &.out-of-stock{
      .category-list__item-stock{
        display: block;
      }
    }

    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding-bottom: 0;
      background-color: #fff;
    }

    &-img{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 35px;
      box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      margin-bottom: 20px;

      img{
        width: 200px;
      }
    }

    &-title{
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-family: $medium-font;
    }

    &-stock{
      position: absolute;
      left: 15px;
      top: 230px;
      font-family: $medium-font;
      color: #BDBDBD;
      display: none;
    }

    &-button{
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
      display: none;
    }
  }
}

.category-text{

  p{
    margin-bottom: 15px;
  }

  h3{
    padding-top: 15px;
    font-family: $medium-font;
    font-size: 18px;
    margin-bottom: 20px;
  }

  ul{
    list-style: disc;
    padding-left: 30px;
    margin-bottom: 35px;

    li{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

}

.product{

  &__left{
    margin-bottom: 34px;

    &-slider{
      margin-bottom: 16px;

      &__item{
        padding: 10px;

        .wrap-img{
          box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 25px;
        }
      }
    }

    &-slider-nav{

      &__item{
        padding: 5px;

        .wrap-img{
          padding: 10px;
          border-radius: 10px;
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
          opacity: .6;


        }

        &.slick-current{
          outline: none;

          .wrap-img{
            opacity: 1;
            outline: none;
          }
        }
      }
    }
  }

  &__right{

    .def-title::after{
      left: 0;
    }

    &-button{
      display: block;
      margin: 0 auto 34px;
      width: 130px;
    }

    &-subtitle{
      font-family: $def-mag;
      margin-bottom: 20px;
    }

    &-text{

      p{
        margin-bottom: 10px;
      }
    }
  }
}

//SEARCH

.search__content{

  .def-title{
    margin-bottom: 34px;

    &::after{
      left: 0;
    }
  }

  &-input{
    margin-bottom: 46px;

    input{
      display: block;
      width: 370px;
      max-width: 100%;
      height: 36px;
      margin: 0 auto 20px;
      border: 1px solid #E3D3C4;
      border-radius: 60px;
      padding-left: 24px;
      padding-right: 35px;
      background-image: url('./files/imgs/icons/search.svg');
      background-repeat: no-repeat;
      background-position: 95% center;
    }

    &__text{
      font-family: $medium-font;
      color: #BDBDBD;
      text-align: center;

      span{
        font-family: inherit;
        color: inherit;
      }
    }
  }
}

.search__list{
  margin-bottom: 50px;

  .def-title{
    font-size: 22px;

    &::after{
      left: 10px;
    }
  }

  &-item{
    padding: 0 22px;
    margin-bottom: 40px;
    &:last-child{
      margin-bottom: 0;
    }

    a{
      display: flex;
      flex-wrap: wrap;
    }

    &__img{
      padding: 35px;
      box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      img{
        width: 200px;
      }
    }

    &__category{
      width: 100%;
      font-family: $medium-font;
      color: #BDBDBD;
      margin-bottom: 10px;
      text-align: center;
    }

    &__title{
      width: 100%;
      font-size: 18px;
      font-family: $medium-font;
      text-align: center;
    }
  }
}

.search__block{
  margin: 0 auto 70px;

  &-item{
    padding: 40px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    &__title{
      font-size: 22px;
      font-family: $def-mag;
      margin-bottom: 40px;
    }
  }

}

//ABOUT
.about{

  &__top{
    margin-bottom: 20px;

    p{
      margin-bottom: 20px;
    }
  }

  &__left{
    margin-bottom: 40px;

    &-slider{

      .slider__item{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          border-radius: 12px;
        }
      }
    }
  }

  &__right{

    p{
      margin-bottom: 15px;

    }

    h3{
      padding-top: 15px;
      margin-bottom: 20px;
      font-size: 18px;
      font-family: $medium-font;
    }
  }

  &__bottom{

    p{
      margin-bottom: 15px;
    }
  }
}

.equipment{

  .slider__item{
    outline: none;
  }

  &__left{
    margin-bottom: 30px;

    &-slider{

      .slider__item{

        &-img{
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img{
          border-radius: 8px;
        }
      }
    }
  }

  &__right{
    position: relative;

    .custom-slider-setup{
      position: absolute;
      top: 2px;
      right: 15px;
      z-index: 1;
    }

    .slider__item{

      .def-title:after{
        left: 0;
      }

      h3{
        margin-bottom: 16px;
        font-family: $medium-font;
      }

      p{
        margin-bottom: 12px;
      }
    }
  }
}

.thanks{

  .container{
    position: relative;
  }

  .custom-slider-setup{
    position: absolute;
    top: 2px;
    right: 15px;
    z-index: 1;
  }

  &__slider{

    &-on{

      .slider__item{
        outline: none;

        &-img{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.review{

  &__slider{
    position: relative;

    .custom-slider-setup{
      position: absolute;
      left: 45px;
      bottom: 30px;
      z-index: 1;
    }

    &-in{

      .slider__item{
        padding: 15px;

        .wrap{
          box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
          border-radius: 12px;
          padding: 36px 20px 96px;
        }

        &-title{
          font-size: 18px;
          margin-bottom: 16px;
          font-family: $medium-font;
        }

        &-stars{
          margin-bottom: 20px;
          display: flex;

          &__in{
            margin-right: 8px;
          }

          &.stars-1{

            .slider__item-stars__in:first-child{
              svg{

                path{
                  fill: #FACBAD;
                }
              }
            }
          }

          &.stars-2{

            .slider__item-stars__in:nth-child(1),
            .slider__item-stars__in:nth-child(2){
              svg{

                path{
                  fill: #FACBAD;
                }
              }
            }
          }

          &.stars-3{

            .slider__item-stars__in:nth-child(1),
            .slider__item-stars__in:nth-child(2),
            .slider__item-stars__in:nth-child(3){
              svg{

                path{
                  fill: #FACBAD;
                }
              }
            }
          }

          &.stars-4{

            .slider__item-stars__in:nth-child(1),
            .slider__item-stars__in:nth-child(2),
            .slider__item-stars__in:nth-child(3),
            .slider__item-stars__in:nth-child(4){
              svg{

                path{
                  fill: #FACBAD;
                }
              }
            }
          }

          &.stars-5{

            .slider__item-stars__in:nth-child(1),
            .slider__item-stars__in:nth-child(2),
            .slider__item-stars__in:nth-child(3),
            .slider__item-stars__in:nth-child(4),
            .slider__item-stars__in:nth-child(5){
              svg{

                path{
                  fill: #FACBAD;
                }
              }
            }
          }
        }

        &-text{
          margin-bottom: 20px;

          p{
            margin-bottom: 10px;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }

        &-personal{
          position: relative;
          padding-right: 110px;

          &__title{
            padding-top: 25px;
            text-align: right;
            margin-bottom: 8px;
            font-family: $medium-font;
          }

          &__position{
            text-align: right;
            font-family: $medium-font;
          }

          &__img{
            position: absolute;
            right: 0;
            top: 0;
            width: 90px;
            height: 90px;
          }
        }
      }
    }

  }
}

.materials-list{

  .def-title{
    font-size: 22px;
    margin-bottom: 36px;
  }

  &__item{
    margin-bottom: 30px;

    &-img{
      margin-bottom: 20px;

      img{
        border-radius: 8px;
        margin: 0 auto;
      }
    }

    &-title{

      h3{
        font-family: $medium-font;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

.materials__text{

  &-cont{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;

    &__img{
      margin-right: 25px;
      min-width: 20px;
      min-height: 20px;
    }
  }
}

.delivery{

  &__subtitle{
    text-align: center;
    font-family: $def-mag;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 50px;
  }

  &__item{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }

    &-count{
      font-size: 26px;
      font-family: $def-mag;
      margin-bottom: 8px;
    }

  }
}

.how{

  &__list{

    .row{
      padding: 40px 40px 16px;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }

    &-title{
       margin-bottom: 35px;
       font-size: 22px;
       font-weight: 400;
     }

    &-item{
      margin-bottom: 34px;

      &__img{
        margin-bottom: 10px;
      }

      &__title{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
      }
    }
  }
}

.contacts{

  &__text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;

    &-title{
      font-size: 22px;
      font-weight: 400;
      font-family: $def-mag;
      margin-bottom: 20px;
    }

    .inner{
      margin-bottom: 20px;

      h3{
        font-size: 18px;
        font-weight: 500;
        font-family: $medium-font;
        margin-bottom: 3px;
      }
    }
  }

  &__map{
    margin-bottom: 40px;
  }

  &__list{

    &-item{
      margin-bottom: 25px;

      &-wrap{
        padding: 34px 20px;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }

      &__title{
        font-size: 22px;
        margin-bottom: 20px;

        &::after{
          left: 0;
        }
      }

      a.link-phone{
        display: block;
        margin-bottom: 5px;
        font-family: $medium-font;
      }

      a.link-mail{
        display: block;
        font-family: $medium-font;
      }

      a.link-social{
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        svg{
          margin-right: 10px;
        }
      }
    }
  }
}

.thank-form{
  padding-top: 35px;

  &__title{
    font-size: 26px;
    font-family: $def-mag;
    text-align: center;
    margin-bottom: 20px;
  }

  &__img{
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
  }

  &__text{
    text-align: center;
    margin-bottom: 24px;

    span{
      max-width: 270px;
      font-family: $medium-font;
      display: inline-block;
    }
  }
  
  &__buttons{
    display: flex;
    justify-content: center;

    .def-button{
      margin: 0;
    }
    
    .def-button:first-child{
      margin-right: 20px;
      border: 1px solid #544B46;
      background: #fff;
      color: #544B46;
    }
  }
}

.discount{
  padding-top: 80px;
  padding-bottom: 290px;
  background-image: url('./files/imgs/timer.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 370px;

  &::before{
    display: block;
    content: '';
    width: 100%;
    height: calc(100% + 4px);
    max-height: none;
    position: absolute;
    left: 0;
    top: -2px;
    background: linear-gradient(180deg, #FFFFFF 4.24%, rgba(255, 255, 255, 0) 61.75%, rgba(255, 255, 255, 0) 61.75%);
    backdrop-filter: blur(2px);
  }

  &__title{
    margin-bottom: 34px;
    font-size: 26px;
    font-weight: 400;
    font-family: $def-mag;
    text-align: center;
    line-height: 1.4;
  }

  &__timer{
    display: flex;
    justify-content: center;

    &-item{
      padding: 0 10px;

      &__count{
        background: #FACBAD;
        box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        font-size: 40px;
        font-family: $medium-font;
        font-weight: 700;
        width: 92px;
        height: 92px;
        text-align: center;
        line-height: 92px;
        margin-bottom: 10px;
      }

      &__title{
        text-align: center;
        font-weight: 400;
      }
    }
  }

  &__form{
    position: absolute;
    top: calc(100% - 240px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 400px;
    max-width: 100%;

    &-wrap{
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      background-color: #fff;
      padding: 30px 18px;
    }

    &-title{

      h3{
        font-size: 22px;
        font-weight: 400;
        font-family: $def-mag;
        padding: 12px 28px;
        position: relative;
        margin-bottom: 20px;
        z-index: 1;

        &::before{
          display: block;
          content: '';
          background-image: url('./files/imgs/icons/title-back.svg');
          width: 232px;
          height: 49px;
          position: absolute;
          background-size: cover;
          z-index: -1;
          left: 0;
          top: 0;
        }
      }
    }

    &-text{
      margin-bottom: 34px;
    }

    form{
      text-align: center;

      input:not([type="submit"]){
        display: block;
        margin: 0 auto 16px;
        border: 1px solid #E3D3C4;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 60px;
        width: 276px;
        height: 46px;
        padding: 0 24px;

        &:nth-last-child(2){
          margin-bottom: 34px;
        }
      }

      input[type="submit"]{
        border: none;
      }
    }
  }
}