.first-screen{
  position: relative;
  padding-top: 40px;
  padding-bottom: 160px;
  background: linear-gradient(180deg, #FFFFFF 47.07%, rgba(255, 255, 255, 0) 85.35%);

  &::before{
    display: block;
    content: '';
    position: absolute;
    background-image: url('./files/imgs/first-screen.jpg');
    left: 0;
    right: 0;
    top: 40%;
    height: 60%;
    z-index: -1;
  }

  &__content{
    margin-bottom: 24px;

    h1{
      margin-bottom: 24px;
      font-family: $medium-mag;
      font-size: 40px;
      text-align: center;
      font-weight: 500;
      line-height: 48px;

      span{
        font-family: inherit;
        font-size: inherit;
        position: relative;
        display: block;
        z-index: 1;
        font-weight: inherit;
        line-height: inherit;
        &::before{
          display: block;
          content: '';
          width: 362px;
          height: 77px;
          background-image: url('./files/imgs/icons/title-back.svg');
          background-size: cover;
          background-repeat: no-repeat;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          max-width: none;
          max-height: none;
          z-index: -1;
        }
      }
    }

    p{
      text-align: center;
      margin: 0 auto;
      width: 300px;
      max-width: 100%;
    }
  }

  &__box{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    margin: 0 auto;
    padding: 34px 20px;
    width: calc(100% - 40px);
    max-width: 316px;

    &-title{
      margin-bottom: 12px;
      font-size: 22px;
      font-family: $def-mag;
    }

    &-text{
      margin-bottom: 24px;
    }


  }
}

.choose-format{

  &__slider{
    position: relative;

    .slide__wrap{
      display: flex;
      justify-content: center;

      &-item{
        position: relative;

        &__title{
          position: absolute;
          left: 20px;
          bottom: 70px;
          color: #fff;
          font-size: 18px;
          font-family: $medium-font;
        }

        &__price{
          position: absolute;
          left: 20px;
          bottom: 20px;
          color: #fff;

          span{
            font-size: 32px;
            font-family: $medium-mag;
            color: #fff;
            padding: 0 10px;
            position: relative;
            top: 5px;
          }
        }
      }
    }

  }
}

.drop-request{
  padding: 34px 0;
  background: #544B46;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.25);

  &__title{
    margin-bottom: 34px;

    p{
      color: #fff;
      font-family: $def-mag;
      font-weight: 400;
      font-size: 26px;
      text-align: center;
      padding: 0 2px;
    }
  }

  &__button{
    text-align: center;
  }
}

.best{

  &-left{

    &__title{
      
      &::before{
        display: block;
        content: 'посмотрите наши';
        color: #BDBDBD;
        font-size: 18px;
        margin-bottom: 10px;
      }

      &::after{
        left: 0;
      }
    }

    &__item{
      display: block;
      width: 290px;
      max-width: 100%;
      padding: 0 15px;
      margin: 0 auto 50px;

      &-img{
        background: #F0ECEC;
        border-radius: 8px;
        padding: 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 14px;
        width: 260px;
        height: 224px;
      }

      &-title{
        display: block;
        text-align: center;
        font-size: 18px;
        font-family: $medium-font;
      }
    }
  }

  &-right{

    &__item{
      display: block;
      width: 290px;
      max-width: 100%;
      padding: 0 15px;
      margin: 0 auto 50px;
      &:last-child{
        margin-bottom: 0;
      }

      &-img{
        background: #F0ECEC;
        border-radius: 8px;
        padding: 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 14px;
        width: 260px;
        height: 224px;
      }

      &-title{
        display: block;
        text-align: center;
        font-size: 18px;
        font-family: $medium-font;
      }
    }
  }
}

.content-form{
  background: #FACBAD;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.25);
  padding: 34px 10px;

  &__pretitle{
    font-size: 18px;
    font-family: $medium-font;
    margin-bottom: 16px;
    text-align: center;
  }

  &__title{
    font-size: 26px;
    font-family: $def-mag;
    margin-bottom: 34px;
    text-align: center;
  }

  &__form{

    input:not([type="submit"]){
      display: block;
      margin: 0 auto 16px;
      border: 1px solid #E3D3C4;
      box-sizing: border-box;
      border-radius: 60px;
      width: 276px;
      height: 46px;
      &:nth-last-child(2){
        margin-bottom: 34px;
      }
      padding: 0 24px;
    }

    input[type="submit"]{
      display: block;
      margin: 0 auto;
      box-shadow: 0px 4px 24px #544B46;
    }
  }
}

.arrival{

  .prev-button-slide{
    top: 150px;
    left: 25px;
  }
  .next-button-slide{
    top: 150px;
    right: 25px;
  }

  .def-item{

  }
}

.why{

  .def-title{

    &::before{
      display: block;
      content: 'нас рекомендуют';
      font-size: 18px;
      color: #BDBDBD;
      margin-bottom: 10px;
    }
  }

  &__item{
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 0;
    }

    &-img{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      height: 64px;
    }

    &-text{
      padding: 0 10px;
      text-align: center;
    }
  }
}

.discount{
//  AAAAAAAAAAAAAAAAAAAAAAAAAAA
}

.about-us{

  &__video{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe{
      display: block;
      height: 200px;
      width: 350px;
      max-width: 100%;
    }
  }

  &__text{

    .def-title{

      &::before{
        display: block;
        content: 'посмотрите видео';
        font-size: 18px;
        color: #BDBDBD;
        margin-bottom: 10px;
      }

      &::after{
        left: 0;
      }
    }
  }
}

.main-news{

  .row{
    position: relative;
  }

  &__all{
    position: absolute;
    top: 10px;
    right: 25px;
    color: #544B46;
    padding-right: 20px;

    &::after{
      display: block;
      content: '〉';
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__item{
    margin-bottom: 50px;
    &:last-child{
      margin-bottom: 0;
    }

    img{
      border-radius: 8px;
      display: block;
      margin: 0 auto 15px;
    }

    span{
      display: block;
      text-align: center;
      font-size: 18px;
      font-family: $medium-font;
    }
  }
}

// CATALOG

.catalog__menu{
  margin-bottom: 34px;

  .def-title{
    margin-bottom: 30px;

    &::after{
      left: 0;
    }
  }

  &-nav{
    display: none;
  }

}

.catalog__content{

  .category{
    margin-bottom: 15px;

    &__top{
      margin-bottom: 18px;

      .def-title{
        font-family: $def-mag;
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 24px;
      }

      &-link{

        a{
          padding-right: 20px;
          position: relative;
          &::after{
            display: block;
            content: '〉';
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    &__slider{

      .slick-list{
        padding-top: 15px;
      }
      .prev-button-slide{
        top: 150px;
        left: 25px;
      }
      .next-button-slide{
        top: 150px;
        right: 25px;
      }

      .def-item{

        &.out-of-stock{

          .def-item__title{
            margin-bottom: 10px;
          }
          .def-item__subtitle{
            display: block;
          }
        }

        &-wrap{
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &__img{
          padding: 20px 25px;
        }

        &__title{
          width: 100%;
        }

        &__subtitle{
          width: 100%;
          display: none;
        }

        &__link{
          display: none;
        }
      }
    }
  }

  .ready-solutions.category{

    .def-item{

      &__img{
        padding: 0;
      }

      &__link{
        width: 190px;
      }
    }

  }

}

.product{

  &__left{
    margin-bottom: 34px;

    &-slider{
      margin-bottom: 16px;

      &__item{
        padding: 10px;

        .wrap-img{
          box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 25px;
        }
      }
    }

    &-slider-nav{

      &__item{
        padding: 5px;

        .wrap-img{
          padding: 10px;
          border-radius: 10px;
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
          opacity: .6;


        }

        &.slick-current{
          outline: none;

          .wrap-img{
            opacity: 1;
            outline: none;
          }
        }
      }
    }
  }

  &__right{

    .def-title::after{
      left: 0;
    }

    &-button{
      display: block;
      margin: 0 auto 34px;
      width: 130px;
    }

    &-subtitle{
      font-family: $def-mag;
      margin-bottom: 20px;
    }

    &-text{

      p{
        margin-bottom: 10px;
      }
    }
  }
}