@media screen
and (min-width: 768px){

  .first-screen{
    padding-top: 100px;
    padding-bottom: 66px;
    background: linear-gradient(90deg, #FFFFFF 47.07%, rgba(255, 255, 255, 0) 85.35%);

    &::before{
      left: 40%;
      right: 0;
      top: 0;
      height: 100%;
      z-index: -1;
      background-size: cover;
      background-position: center;
    }

    &__content{
      margin-bottom: 60px;

      h1{
        font-size: 42px;
        position: relative;
        z-index: 1;
        margin-bottom: 50px;
        text-align: left;

        &::before{
          display: block;
          content: '';
          width: 729px;
          height: 155px;
          background-image: url('./local/templates/stolprom_2020/files/imgs/icons/title-back.svg');
          background-size: cover;
          background-repeat: no-repeat;
          position: absolute;
          //left: -25px;
          top: 50%;
          //transform: translateY(-50%);
          max-width: none;
          max-height: none;
          z-index: -1;

          transform: translate(-30px, -50%);
          left: 0;
        }

        span{
          display: inline;

          &::before{
            display: none;
          }
        }
      }

      p{
        width: 440px;
        margin: 0;
        text-align: left;
      }
    }

    &__box{
      max-width: 545px;
      margin: 0;
      padding: 40px;
    }
  }

  .drop-request{
    padding: 48px 0;

    &__title{
      padding: 0 35px;
      margin-bottom: 40px;
    }
  }

  .choose-format{

    &__slider{
      display: flex;
      padding: 0;

      .slide__wrap{
        width: 33%;
        padding: 0 20px;

        &-item{

          &__img{
            filter: blur(3px);
          }

          &:hover{

            .slide__wrap-item__img{
              filter: none;
            }
          }

          &__title{
            bottom: 90px;
          }

          &__price{
            bottom: 35px;
          }
        }
      }
    }
  }

  .best{

    &-left{

      &__title{
        padding-top: 35px;
        text-align: right;
        margin-bottom: 46px;
        &::after{
          left: auto;
          right: 0;
        }
      }

      &__item{
        padding: 0;
        margin-right: 0;
        margin-bottom: 16px;
        &:last-child{
          margin-bottom: 0;
        }

        &.table{
          width: 344px;
          padding: 0;
        }

        &.furniture{
          width: 248px;
        }

        &:nth-child(2n){
          width: 320px;

          .best-right__item-img{
            width: 320px;
            height: 224px;
          }
        }

        &:nth-child(2n-1){
          width: 248px;

          .best-left__item-img{
            width: 248px;
            height: 154px;
          }
        }

        &-img{
          margin-bottom: 16px;
          max-width: 100%;

          .table &{
            width: 344px;
            height: 296px;
          }

          .furniture &{
            width: 248px;
            height: 154px;
          }
        }

        &-title{
          padding-left: 20px;
          text-align: left;
        }
      }
    }

    &-right{

      &__item{
        margin-bottom: 16px;
        padding: 0;
        margin-left: 0;
        &:last-child{
          margin-bottom: 0;
        }

        &.chair{
          width: 248px;
        }

        &.armchair{
          width: 344px;
        }

        &:nth-child(2n){
          width: 320px;

          .best-right__item-img{
            width: 320px;
            height: 296px;
          }
        }
        
        &-title{
          text-align: left;
        }

        &-img{

          .chair &{
            width: 248px;
            height: 224px;
          }

          .armchair &{
            width: 344px;
            height: 296px;
          }
        }
      }
    }

  }

  .content-form{
    padding: 48px 0;

    &__title{
      padding: 0 50px;
      margin-bottom: 50px;
    }

    &__form{

      form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 710px;
        margin: 0 auto;
      }

      input:not([type="submit"]){
        margin-bottom: 0!important;
        width: 230px;
      }
    }
  }

  .about-us{

    &__video{

      iframe{
        height: 400px;
        width: 700px;
      }
    }
  }

  .catalog__menu{

  }

  .catalog__content{

    .category{
      margin-bottom: 55px;

      &__top{
        justify-content: space-between;

        .def-title{
          margin-bottom: 0;
        }

        &-link{
          text-align: right;
        }

      }

      &__slider{

        .prev-button-slide{
          top: 110px;
          left: 25px;
        }
        .next-button-slide{
          top: 110px;
          right: 25px;
        }

      }
    }
  }

  .category-nav{
    margin-bottom: 50px;

    &__list{

      li{
        width: auto;
        padding: 0 20px;

        a{
          padding: 18px 32px;
        }
      }
    }
  }

  .category-list{

    &__item{
      margin-bottom: 50px;

      &-img{

        img{
          width: 220px;
        }
      }

      &-stock{

      }
    }
  }

  .product{

    &__right{
      position: relative;

      &-button{
        position: absolute;
        right: 20px;
        top: 0;
      }
    }
  }
  
  .search__content{
    
    &-input{
      
      input{
        width: 100%;
      }
      
      &__text{
        padding-left: 20px;
        text-align: left;
      }
    }
  }

  .search__list{

    &-item{
      padding: 0 20px;

      a{
        padding-bottom: 20px;
      }

      a:hover{
        box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        .search__list-item__img{
          box-shadow: none;
        }

      }
    }
  }

  .equipment{

    &__right{

      .custom-slider-setup{
        right: 20px;
      }
    }
  }

  .thanks{

    .custom-slider-setup{
      right: 20px;
    }
  }

  .review{

    .wrap-top{
      display: flex;
      justify-content: space-between;
    }

    &__slider{

      .custom-slider-setup{
        left: 80px;
        bottom: 40px;
      }

      &-in{

        .slider__item{

          .wrap{
            padding: 40px 50px 50px;
          }

          &-text{
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  .delivery{

    &__item{
      margin-bottom: 0;
    }
  }

  .contacts{

    &__text{
      flex-direction: row;
      justify-content: space-between;

      &-title{
        width: 100%;
      }

      .inner{
        width: 33%;

        &.contacts__text-mode{
          width: 22%;
        }
      }
    }
  }

  .discount{

    &__title{
      margin-bottom: 48px;
    }

    &__timer{

      &-item{
        padding: 0 20px;

        &__count{
          width: 120px;
          height: 120px;
          line-height: 120px;
          font-size: 56px;
          margin-bottom: 16px;
        }
      }
    }

    &__form{
      width: 570px;

      &-wrap{
        padding: 30px 40px;
      }

      &-title{

        h3{
          text-align: center;

          &::before{
            left: calc(50% - 28px);
            transform: translateX(-50%);
          }
        }
      }

      &-text{

        p{
          text-align: center;
          padding: 0 30px;
        }
      }

      form{

        input:not([type="submit"]){
          width: 360px;
        }
      }
    }
  }
}


@media screen
and (min-width: 1200px){

  .drop-request{

    &__title{
      max-width: 700px;
      margin: 0 auto 40px;

      p{
        padding: 0;

        .only-320{
          display: block;
        }
      }
    }
  }

  .best{

    &-left{
      padding-top: 60px;

      &__item{
        margin-bottom: 24px;

        &.table{
          width: 439px;
        }

        &.furniture{
          width: 343px;
        }

        &:nth-child(2n-1){
          width: 343px;

          .best-left__item-img{
            width: 343px;
            height: 213px;
          }
        }

        &-img{
          margin-bottom: 24px;

          .table &{
            width: 439px;
            height: 377px;
          }

          .furniture &{
            width: 343px;
            height: 213px;
          }
        }
      }
    }

    &-right{

      &__item{
        margin-bottom: 24px;

        &.chair{
          width: 343px;
        }

        &.armchair{
          width: 439px;
        }

        &:nth-child(2n){
          width: 439px;

          .best-right__item-img{
            width: 439px;
            height: 377px;
          }
        }

        &-img{
          margin-bottom: 24px;

          .chair &{
            width: 343px;
            height: 308px;
          }

          .armchair &{
            width: 439px;
            height: 377px;
          }
        }
      }
    }
  }

  .content-form{

    &__pretitle, &__title{
      width: 740px;
      padding: 0 20px;
      max-width: 740px;
      margin-left: auto;
      margin-right: auto;
    }

    &__form{

      form{
        width: 720px;
      }
    }
  }

  .arrival{

    .slick-track{
      padding: 15px 0;
    }

    .def-item{

      &-wrap{

        &:hover{
          box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);

          .def-item__img{
            box-shadow: none;
          }
        }
      }

      &__link{
        margin-bottom: 20px;
      }
    }
  }

  .why{

    &__item{
      margin-bottom: 0;
    }
  }

  .about-us{

    &__video{

      iframe{
        width: 630px;
        height: 450px;
      }
    }

    &__text{
      padding-top: 45px;
    }
  }

  .main-news{

    &__item{
      margin-bottom: 0;
    }
  }

  .catalog__menu{

    &-title{
      padding-left: 0;
    }

    &-subtitle{
      background-color: #fff;
      padding-left: 0;

      &__arrow{
        display: none;
      }
    }
    
    &-nav{
      padding-left: 0;
      background-color: #fff;
    }
  }

  .catalog__content{

    .slick-track{
      display: flex;
    }

    .category{
      margin-bottom: 15px;

      &__top{
        margin-bottom: 25px;
      }

      &__slider{

        .prev-button-slide{
          top: 130px;
          left: 25px;
        }
        .next-button-slide{
          top: 130px;
          right: 25px;
        }

        .def-item{
          padding-bottom: 15px;

          &-wrap{
            position: relative;
            padding-bottom: 110px;
            border-radius: 8px;

            &:hover{
              box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);

              .def-item__img{
                box-shadow: none;
              }

              .def-item__link{
                opacity: 1;
              }
            }
          }

          &.out-of-stock{

            .def-item__subtitle{
              opacity: 100%;
            }
          }

          &__title{
            margin-bottom: 10px;
          }

          &__subtitle{
            display: block;
            opacity: 0;
            position: absolute;
            left: 0;
            bottom: 80px;
          }

          &__link{
            display: block;
            opacity: 0;
            position: absolute;
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);

            &:hover{
              box-shadow: 0px 4px 20px #544B46;
            }
          }
        }
      }
    }

    .ready-solutions.category{

    }
  }

  .category-list{

    &__item{
      margin-bottom: 60px;
      padding: 0 20px;
      min-height: 335px;
      &:last-child{
        margin-bottom: 60px;
      }

      a:hover{
        box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        position: absolute;
        left: 20px;
        top: 0;
        width: calc(100% - 40px);
        padding-bottom: 100px;
        z-index: 1;

        .category-list__item-img{
          box-shadow: none;
        }

        .category-list__item-stock{
          bottom: 75px;
        }

        .category-list__item-button{
          display: block;
        }
      }
    }
  }

  .product{

    &__right{

      &-button{
        position: static;
        margin-left: 0;
      }

      &-subtitle{
        font-size: 18px;
        margin-bottom: 20px;
      }
    }

    &+.content-form{
      margin-bottom: 0;
    }
  }

  .equipment{

    .row{
      align-items: center;
    }

    &__left{
      margin-bottom: 0;
    }
  }

  .review{

    &__slider{

      .custom-slider-setup{
        left: 170px;
      }

      &-in{

        .slider__item{

          .wrap{
            padding: 60px 60px 70px;
            width: 900px;
            margin: 0 auto;
          }

        }
      }
    }
  }

  .delivery{

    &__item{


      &-count{
        padding: 0 35px;
      }

      &-text{
        padding: 0 35px;
      }
    }
  }

  .contacts{

    &__text{
      padding-top: 45px;
      flex-direction: column;
      justify-content: flex-start;

      &-title{
        width: 100%;
      }

      .inner{
        width: 100%;

        &.contacts__text-mode{
          width: 100%;
        }
      }
    }
  }

  .thank-form{
    padding-top: 55px;
    margin-bottom: 55px;
  }

  .search__content{

    &-input{

      &__text{

        span{
          width: auto;
          max-width: none;
        }
      }
    }
  }
}