@font-face {
  font-family: 'pf dindsplay pro';
  src: url('./files/fonts/displaypro/PFDinDisplayPro-Regular.eot');
  src: url('./files/fontsdisplaypro//PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('./files/fonts/displaypro/PFDinDisplayPro-Regular.woff') format('woff'),
  url('./files/fonts/magistral/PFDinDisplayPro-Regular.woff2') format('woff2'),
  url('./files/fonts/displaypro/PFDinDisplayPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf dindsplay pro medium';
  src: url('./files/fonts/displaypro/PFDinDisplayPro-Medium.eot');
  src: url('./files/fontsdisplaypro//PFDinDisplayPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('./files/fonts/displaypro/PFDinDisplayPro-Medium.woff') format('woff'),
  url('./files/fonts/magistral/PFDinDisplayPro-Medium.woff2') format('woff2'),
  url('./files/fonts/displaypro/PFDinDisplayPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Magistral';
  src: url('./files/fonts/magistral/Magistral-Medium.eot');
  src: local('./files/fonts/magistral/Magistral Medium'), local('Magistral-Medium'),
  url('./files/fonts/magistral/Magistral-Medium.eot?#iefix') format('embedded-opentype'),
  url('./files/fonts/magistral/Magistral-Medium.woff2') format('woff2'),
  url('./files/fonts/magistral/Magistral-Medium.woff') format('woff'),
  url('./files/fonts/magistral/Magistral-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Magistral Book';
  src: url('./files/fonts/magistral/Magistral-Book.eot');
  src: local('./files/fonts/magistral/Magistral Book'), local('Magistral-Book'),
  url('./files/fonts/magistral/Magistral-Book.eot?#iefix') format('embedded-opentype'),
  url('./files/fonts/magistral/Magistral-Book.woff2') format('woff2'),
  url('./files/fonts/magistral/Magistral-Book.woff') format('woff'),
  url('./files/fonts/magistral/Magistral-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$def-font: 'pf dindsplay pro', sans-serif;
$medium-font: 'pf dindsplay pro medium', sans-serif;
$def-mag: 'Magistral Book', sans-serif;
$medium-mag: 'Magistral', sans-serif;
$def-color: #544B46;

*{
  box-sizing: border-box;
  color: $def-color;
  font-size: 16px;
  font-family: $def-font;
  line-height: 1.4;
}

body{
  display: flex;
  flex-direction: column;
  //background-color: #E5E5E5;
}

html, body{
  min-height: 100vh!important;
  height: 100%!important;
  margin: 0;
}

main{
  flex: 1 0 auto;
}
footer, header{
  flex: 0 0 auto;
}

*::before, *::after{
  max-width: 100%;
}

ul{
  margin: 0;
  padding-left: 0;
  list-style: none;
}

li{
  margin: 0;
  padding: 0;
}

img, svg{
  display: block;
  max-height: 100%;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-size: 1.15rem;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  color: $def-color;
  text-decoration: none;
}

p, span, a{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: $def-color;
  text-decoration: none;
}

a{
  &:hover{
    text-decoration: none;
  }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12{
  padding: 0 10px;
}

.container{
  padding: 0 10px;
}

.row{
  margin: 0 -10px;
}

input{
  max-width: 100%;
  outline-style: none!important;
}

@media screen
and (min-width: 768px){

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12{
    padding: 0 20px;
  }

  .container{
    padding: 0 20px;
  }

  .row{
    margin: 0 -20px;
  }


}

@media screen
and (min-width: 1200px){


}












